.container-fluid{
  max-width: 20em;
  background-color: lightblue;
  padding: 1.5em;
  margin-top: 5em;
}
.btn{
  width: 90%;
  margin: 4px;
}

#display{
  margin-top: 3px;
  width: 96%;
  margin-left: 6px;
  text-align: right;
}
.col-3, .col-9 {
padding: 0px;
}
